$siteAColor = #ffffff
$siteABgColor = #F03838
$siteDescColor = #9e9e9e

header
  line-height 1.8rem

  .site-branding
    text-align center
    margin-bottom 2rem
    font-family "Open Sans", arial, sans-serif
    letter-spacing 0.1em

    .site-title
      margin 0
      font-size 1.4rem

      a
        display inline-block
        color $siteABgColor
        font-weight bolder
        border solid 2px $siteABgColor
        line-height 3rem
        height 3rem
        padding 0 1rem
        -webkit-transition padding 0.3s ease-out
        transition padding 0.3s ease-out

        &:hover
          padding: 0 1.5rem


    .site-description
      color $siteDescColor
      font-size 1.3rem
      margin 1rem 0 0

  .site-navigation
    text-align center

    ul
      list-style none
      padding 0
      margin 0
      font-size 1.6em

      li
        display inline-block
        margin 0 0.5rem

        a
          display block
          color $siteABgColor
          font-size 1.6rem
          line-height 2rem
          padding 0 1rem
