// vari
$bodyBgColor = #f7f7f7
$mainBgColor = #ffffff

html
  font-size 10px
  -webkit-text-size-adjust 100%

p
h1
h2
h3
h4
h5
h6
  margin 0

a
  text-decoration none


body
  background-color $bodyBgColor
  font-family "Noto Sans JP", "Segoe UI", "Lucida Grande", Helvetica, FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  overflow-x hidden

  .blog
    max-width 1170px
    min-height 100vh
    background-color $mainBgColor
    margin: 0 auto

    .content
      box-sizing border-box
      max-width 770px
      width 100%
      padding: 80px 10px 10px;
      margin 0 auto
